WeatherBot/MessagesConveyor/Service References/DatabaseQueryHandler/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WeatherBot.DatabaseWorker.QueryComponents" />
  <xs:element name="QueryAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherBot.DatabaseWorker.QueryComponents" minOccurs="0" name="query" nillable="true" type="q1:QueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WeatherBot.DatabaseWorker.QueryComponents" minOccurs="0" name="response" nillable="true" type="q2:QueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>