WeatherBot/Test/LocalhostWeatherBot/Service References/MessageConveyorServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WeatherBot.MessagesConveyor.TeleInteraction.InteractionStrategy" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="botTokenPath" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherBot.MessagesConveyor.TeleInteraction.InteractionStrategy" minOccurs="0" name="iMode" type="q1:InteractionMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>