WeatherBot/Test/CheckMessagesConveyor/Service References/MessagesConveyorReference/WeatherBot.MessagesConveyor.TeleInteraction.Adapters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherBot.MessagesConveyor.TeleInteraction.Adapters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherBot.MessagesConveyor.TeleInteraction.Adapters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="DTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:MLocation" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="tns:MResponse" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:MUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="MLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:float" />
      <xs:element minOccurs="0" name="Longitude" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MLocation" nillable="true" type="tns:MLocation" />
  <xs:complexType name="MResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sticker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MResponse" nillable="true" type="tns:MResponse" />
  <xs:complexType name="MUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MUser" nillable="true" type="tns:MUser" />
</xs:schema>