WeatherBot/CheckUpdateWeather/Service References/WSLweatherReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WeatherBot.WSLweather" />
  <xs:element name="GetDataWeatherDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataWeatherDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherBot.WSLweather" minOccurs="0" name="GetDataWeatherDayResult" nillable="true" type="q1:QDataWeatherDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WeatherBot.WSLweather" minOccurs="0" name="GetWeatherDayResult" nillable="true" type="q2:QDataWeatherDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWeather">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>