WeatherBot/Test/CheckUpdateWeather/Service References/WSLweatherReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Weather" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WeatherBot.WSLweather" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeather_GetDataWeatherDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWeatherDay" />
  </wsdl:message>
  <wsdl:message name="IWeather_GetDataWeatherDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWeatherDayResponse" />
  </wsdl:message>
  <wsdl:message name="IWeather_GetWeatherDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherDay" />
  </wsdl:message>
  <wsdl:message name="IWeather_GetWeatherDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherDayResponse" />
  </wsdl:message>
  <wsdl:message name="IWeather_UpdateCities_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCities" />
  </wsdl:message>
  <wsdl:message name="IWeather_UpdateWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeather" />
  </wsdl:message>
  <wsdl:portType name="IWeather">
    <wsdl:operation name="GetDataWeatherDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/GetDataWeatherDay"
                  message="tns:IWeather_GetDataWeatherDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/GetDataWeatherDayResponse"
                   message="tns:IWeather_GetDataWeatherDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/GetWeatherDay"
                  message="tns:IWeather_GetWeatherDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/GetWeatherDayResponse"
                   message="tns:IWeather_GetWeatherDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/UpdateCities"
                  message="tns:IWeather_UpdateCities_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/UpdateWeather"
                  message="tns:IWeather_UpdateWeather_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeather" type="tns:IWeather">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataWeatherDay">
      <soap:operation soapAction="http://tempuri.org/IWeather/GetDataWeatherDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherDay">
      <soap:operation soapAction="http://tempuri.org/IWeather/GetWeatherDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCities">
      <soap:operation soapAction="http://tempuri.org/IWeather/UpdateCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeather">
      <soap:operation soapAction="http://tempuri.org/IWeather/UpdateWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Weather">
    <wsdl:port name="BasicHttpBinding_IWeather" binding="tns:BasicHttpBinding_IWeather">
      <soap:address location="http://localhost/WSLweather/http" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>