WeatherBot/Test/CheckUpdateWeather/Service References/WSLweatherReference/WeatherBot.WSLweather.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherBot.WSLweather" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/WeatherBot.WSLweather"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QDataWeatherDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemsParts" nillable="true" type="tns:ArrayOfQDataWeatherDayPart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QDataWeatherDay" nillable="true" type="tns:QDataWeatherDay" />
  <xs:complexType name="ArrayOfQDataWeatherDayPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QDataWeatherDayPart" nillable="true"
                  type="tns:QDataWeatherDayPart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQDataWeatherDayPart" nillable="true" type="tns:ArrayOfQDataWeatherDayPart" />
  <xs:complexType name="QDataWeatherDayPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayPart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temp" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QDataWeatherDayPart" nillable="true" type="tns:QDataWeatherDayPart" />
</xs:schema>